@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&family=Bungee+Shade&family=Cabin+Sketch:wght@700&family=Lato:ital,wght@0,300;0,700;1,400;1,900&family=Londrina+Outline&family=Rampart+One&family=Roboto+Slab:wght@900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    


}

.one {
    background-image: url("img/bg.jpg");
    position: relative;
    
}
.twoo {
    background-image: url("img/bg2.jpg");
    opacity: 0.8;
}
.three {
    background-image: url("img/bg3.jpg");
    
}
.four {
    background-image: url("img/bg4.jpg");
}
.five {
    background-image: url("img/bg1.jpg");
}
.picture {
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-position: center;
    flex-wrap: wrap;
    position: relative;
    background-attachment: fixed;
    
}
.logo {
    text-align: center;
    
}
.logo img {
    display: inline-block;
    margin-top: 16%;
    width: 30rem;
    height: 10rem;
    max-width: 400px;
    
    

}

.grey {
    font-size: 1rem;
    background-color: #f1f1f1;
    /* text-align: center; */
    padding: 4rem 4rem;
    line-height: 2rem;
    text-align: justify;
    
    
}

.black {
    background-color: #282e34;
    font-size: 1rem;
    padding: 4rem 4rem;
    line-height: 2rem;
    text-align: justify;
    color: whitesmoke;
}
article h1 {
    margin-bottom: 1rem;
    text-align: center;
}
section {
    display: flex;
    justify-content: center;
     align-items: center;
     
}

.tag  {
    max-width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    font-size: rem;
    background-color: black;
    border-radius: 32px 0 ;
    width: 900px;
    letter-spacing: 1px;
    opacity: 0.7;
    outline: rgb(89, 47, 138) solid 8px;
    outline-offset: 10px;
    
    
    
    background-color: black;
    color: white;   
}
.first{

    display: flex;
    justify-content: center;
    

    
    
    
}

section.picture div.tag h2.second,section.picture div.tag h2.fourth,section.picture div.tag h2.third{
    
    font-size: 2rem;
    white-space: nowrap;
}

/* display: inline-block;
margin-top: 60%;
margin-left: 30%; */



